* {
    transition: all 250ms ease;
}

body {
    background: url('../../img/bg.jpg') no-repeat right bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*color: #FFF;*/
}

#loader {
    color: #369;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #000 1px 1px 5px;
    text-align: center;
}
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}
.poweredby {
    font-size: 3rem;

}
.poweredby:after {
    content: '';
    background: url("https://angular.io/resources/images/logos/angular2/angular.svg") top center no-repeat;
    background-size: contain;
    height: 225px;
    width: 100%;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
}

@keyframes ellipsis {
    to {
        width: 50px;
    }
}
@-webkit-keyframes ellipsis {
    to {
        width: 50px;
    }
}

#title {
    text-align: right;
    color: white;
}
#title h1 {
	text-shadow: #47A6FF 2px 2px 10px;
}
#title h3 {
	text-shadow: 2px 2px 0px #000;
}

#social {
    margin: 30px 10px;
    display: inline-flex;
}
#social a img {
    padding: 2px;
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    filter: grayscale(100%);
}
#social a:hover img, #social a:active img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.panel-info {
    background-color: rgba(106, 106, 106, 0.58);
}
.panel-info .panel-body {
    color: #fff;
}
.panel-info .panel-heading {
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgb(27, 0, 255);
    border: none;
    font-size: initial;
    font-family: "Arial Black", Arial;
    font-weight: bold;
    background-image: linear-gradient(to bottom,#4379A7 0,rgba(0, 0, 0, 0.66) 100%);
}

.spoiler {
    box-shadow: black 1px 1px;
    background: darkgray;
    padding: 1px 3px;
    color: whitesmoke;
    cursor: pointer;
}

a {
    color: #b3dcff;
}
a:focus, a:hover {
    color: #92A7BB;
    text-decoration: none;
}

strong {
    color: rgb(164, 186, 205);
}

.project {
    margin-bottom: 10px;
    border-bottom: aliceblue 1px solid;
}
.project .image img {
    max-height: 90px;
    max-width: 160px;
}
.project .description {
    margin-left: 5px;
}
.project .description .title, .title {
    font-family: cursive;
    font-weight: bold;
}
.project .description .title a, .title {
    color: #fff;
}
.project .description .title::after {
    content: " - ";
}
.project .range {
    display: block;
}
.project .used-techs {
    display: inline-block;
}
.project .used-techs ul {
    margin-left: 5px;
    display: inline-block;
}
.project .used-techs ul li {
    background: linear-gradient(rgba(148, 148, 148, 0.85), #2F2F2F);
    border-radius: 5px;
    margin: 3px 2px;
}

progress {
    width: 100px;
    vertical-align: middle;
}

.right {
    float: right;
}

.list-inline>li {
    padding: 1px 5px;
}

#language-picker {
    z-index: 10;
}
.language-picker .languages {
    position: absolute;
}
.language-picker {
    width: 90px;
    color: #87C2FF;
    padding: 3px 1px;
}
.language-picker .option {
    font-weight: bold;
    display: block;
    padding: 3px 1px;
}
.language-picker .option img {
    margin-left: 3px;
}
.language-picker .option:hover, .language-picker .option:active {
    cursor: pointer;
    background: radial-gradient(rgba(0, 121, 224, 0.6), rgba(0, 0, 0, 0.25));
}

.clickable {
    cursor: pointer;
}
