<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="social">
                <a href="https://www.linkedin.com/profile/view?id=248631737"
                   title="LinkedIn" >
                    <img src="img/social/linkedin.png" />
                </a>
                <a href="http://www.goldenline.pl/daniel-kucal/"
                   title="Goldenline" >
                    <img src="img/social/goldenline.png" />
                </a>
                <a href="http://stackoverflow.com/users/3159399"
                   title="Stackoverflow" >
                    <img src="img/social/stackoverflow.png" />
                </a>
                <a href="https://github.com/DanielKucal"
                   title="Github" >
                    <img src="img/social/github.png" />
                </a>
                <a href="mailto:dkucal@gmail.com"
                   title="dkucal@gmail.com">
                    <img src="img/social/gmail.png" />
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <div id="title">
                <h1>Daniel Kucal</h1>
                <h3>homepage</h3>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info" id="about">
                <div class="panel-heading">About</div>
                <div class="panel-body">
                    <about></about>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Contact</div>
                <div class="panel-body">
                    <contact></contact>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">Chosen projects</div>
                <div class="panel-body">
                    <projects></projects>
                </div>
            </div>
        </div>
    </div>
</div>
