<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="social">
                <a href="https://www.linkedin.com/in/danielkucal"
                   title="LinkedIn" >
                    <img src="img/social/linkedin.png" />
                </a>
                <a href="http://www.goldenline.pl/daniel-kucal/"
                   title="Goldenline" >
                    <img src="img/social/goldenline.png" />
                </a>
                <a href="http://stackoverflow.com/users/3159399"
                   title="Stackoverflow" >
                    <img src="img/social/stackoverflow.png" />
                </a>
                <a href="https://github.com/DanielKucal"
                   title="Github" >
                    <img src="img/social/github.png" />
                </a>
                <a href="mailto:dkucal@gmail.com"
                   title="dkucal@gmail.com">
                    <img src="img/social/gmail.png" />
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row-fluid">
                <div class="col-md-2 pull-left" id="language-picker">
                    <language-picker></language-picker>
                </div>

                <div class="col-md-10" id="title">
                    <h1>Daniel Kucal</h1>
                    <h3>{{ 'HOMEPAGE' | translate }}</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info" id="about">
                <div class="panel-heading">{{ 'ABOUT' | translate }}</div>
                <div class="panel-body">
                    <about></about>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">{{ 'CONTACT' | translate }}</div>
                <div class="panel-body">
                    <contact></contact>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">{{ 'CHOSEN_PROJECTS' | translate }}</div>
                <div class="panel-body">
                    <projects></projects>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel panel-info">
        <div class="panel-body">
            {{ 'COOKIES_INFO' | translate }}
        </div>
    </footer>
</div>
