<div id="tags" class="project">
    <tags class="used-techs" (onTagChoice)="onTagChoice($event)"></tags>
</div>
<div *ngFor="#project of projects | async" class="project">
    <span *ngIf="project.imageUrl" class="image">
        <a href="{{project.link}}" target="_blank">
            <img class="img-rounded" src="{{project.imageUrl}}"/>
        </a>
    </span>
    <span class="description">
        <span class="title">
            <a href="{{project.link}}" target="_blank">{{project.name}}</a>
        </span>
        {{project.subname}}
    </span>

    <span *ngIf="project.description" class="range">
        <b>{{ 'DESCRIPTION' | translate }}:</b> <span [innerHTML]="project.description"></span>
    </span>

    <span *ngIf="project.technologies" class="used-techs">
        <b>{{ 'TECHNOLOGY_STACK' | translate }}:</b>
        <ul class="list-inline">
            <li *ngFor="#tech of project.technologies">{{tech}}</li>
        </ul>
    </span>
</div>
